include:
  - compose.orchestrator.yml
  - compose.temporal.yml

x-superset-image: &superset-image apachesuperset.docker.scarf.sh/apache/superset:5.0.0
x-superset-volumes:
  &superset-volumes # /app/pythonpath_docker will be appended to the PYTHONPATH in the final container
  - ./superset_volumes/docker:/app/docker
  - ./superset_volumes/home:/app/superset_home

services:
  





  superset:
    container_name: fishsense_superset
    env_file:
      - path: ./superset_volumes/docker/.env # default
        required: true
      - path: ./.secrets/superset-env # optional override
        required: false
    image: *superset-image
    command: ["/app/docker/docker-bootstrap.sh", "app-gunicorn"]
    user: "root"
    restart: on-failure:15
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.superset.rule=Host(`analytics.fishsense.e4e.ucsd.edu`)"
      - "traefik.http.routers.superset.entrypoints=websecure"
      - "traefik.http.routers.superset.tls.certresolver=letsencrypt"
    networks:
      - traefik_proxy
      - default
    depends_on:
      superset-init:
        condition: service_completed_successfully
    volumes: *superset-volumes

  superset-init:
    image: *superset-image
    container_name: superset_init
    command: ["/app/docker/docker-init.sh"]
    env_file:
      - path: ./superset_volumes/docker/.env # default
        required: true
      - path: ./.secrets/superset-env # optional override
        required: false
    depends_on:
      postgres:
        condition: service_started
      redis:
        condition: service_started
    user: "root"
    volumes: *superset-volumes
    healthcheck:
      disable: true

  superset-worker:
    image: *superset-image
    container_name: superset_worker
    command: ["/app/docker/docker-bootstrap.sh", "worker"]
    env_file:
      - path: ./superset_volumes/docker/.env # default
        required: true
      - path: ./.secrets/superset-env # optional override
        required: false
    restart: on-failure:15
    depends_on:
      superset-init:
        condition: service_completed_successfully
    user: "root"
    volumes: *superset-volumes
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "celery -A superset.tasks.celery_app:app inspect ping -d celery@$$HOSTNAME",
        ]

  superset-worker-beat:
    image: *superset-image
    container_name: superset_worker_beat
    command: ["/app/docker/docker-bootstrap.sh", "beat"]
    env_file:
      - path: ./superset_volumes/docker/.env # default
        required: true
      - path: ./.secrets/superset-env # optional override
        required: false
    restart: on-failure:15
    depends_on:
      superset-init:
        condition: service_completed_successfully
    user: "root"
    volumes: *superset-volumes
    healthcheck:
      disable: true

  redis:
    image: redis:7
    container_name: superset_cache
    restart: on-failure:15
    volumes:
      - ./redis_volumes/data:/data

  mafl:
    container_name: mafl # change as needed
    image: hywax/mafl
    restart: on-failure:15
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mafl.rule=Host(`fishsense.e4e.ucsd.edu`)"
      - "traefik.http.routers.mafl.entrypoints=websecure"
      - "traefik.http.routers.mafl.tls.certresolver=letsencrypt"
    networks:
      - traefik_proxy
      - default
    volumes:
      - ./mafl_volumes/data:/app/data

  postgres:
    image: postgres:16.4
    restart: on-failure:15
    shm_size: 128 mb
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_admin_password
    volumes:
      - ./pg_volumes/data/:/var/lib/postgresql/data/:rw
      - ./pg_volumes/config/:/etc/postgresql/:ro
      # - ./.secrets/certs/:/certs/:ro
      - ./pg_volumes/scripts/:/docker-entrypoint-initdb.d/:ro
      - /etc/passwd:/etc/passwd:ro
    secrets:
      - postgres_admin_password
    command: --config_file=/etc/postgresql/postgres.conf
    ports:
      - 5432:5432
    user: "${USER_ID}:${GROUP_ID}"

secrets:
  postgres_admin_password: 
    file: .secrets/postgres_admin_password.txt

networks:
  orchestrator:
  traefik_proxy:
    external: true
